html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  div.console {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  div.console {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (min-width: 1279px) {
  div.console {
    visibility: visible;
    opacity: 1;
  }
}

div.main {
  float: left;
  width: 800px;
  margin: 20px 40px;
}

.spring:after {
  content: "";
  display: table;
  clear: both;
}

div.console {
  float: right;
  background: #bc9963;
  border-left: 1px solid #835c3b;
  width: 400px;
  height: 100%;
}

.console section {
  margin: 10px;
  color: #eac76e;
  font-family: 'Roboto Mono', sans-serif;
  word-break: break-all;
  font-size: 12px;
}

.console hr {
  overflow: visible;
  height: 20px;
  border-style: solid;
  border-color: #907432;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.console hr:after {
  display: block;
  content: "";
  height: 20px;
  margin-top: -21px;
  border-style: solid;
  border-color: #907432;
  border-width: 0 0 1px 0;
  border-radius: 10px;
}
