
.rotate img {
  transition: 1s ease;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  transform: rotateZ(2deg);
}

.rotate img:hover {
  transition: 1s ease;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

a {
  color: #e74c3c;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

a::before {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
  box-sizing: content-box;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffc2;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.3s;
  transition: transform 0.8s, opacity 0.3s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
