html {
  box-sizing: border-box;
}

body {
  font-family:'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  text-align: justify;
  max-width: 640px;
}

p.small {
  font-size: 0.9em;
}

.spring {
  background-color: #f2f8ea;
}

.spring img {
  width: 520px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  border: 1px solid #835c3b;
}

.golden {
  background-color: #fbf6d9;
}

div.main {
  margin: 20px 40px;
}

.secured {
  background-color: #f0f8ff;
}

.secured-img {
  width: 460px;
}

.secured-img-old {
  background-color: #e2e7ee;
  border: 1px dotted;
  padding: 0 80px;
  width: 315px;
}

.login-form {
  padding-top: 10px;
  max-width: 480px;
}

.login-form p {
  text-align: center;
  font-size: small;
}

.login {
  position: relative;
  z-index: 1;
  background: #fff;
  margin: 0 20px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: goldenrod;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
